#airplane {
    position: relative;
    width: 80px;
    height: 80px;
    top: 600px;
    left: 600px;
}

.obstacles {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: black;
    top: 0px;
}

.bulletStyle {
    position: absolute;
    top: 488px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}
