#Score, #seconds-counter {
    font-size:x-large;
}

#airplane {
    position: relative;
    width: 80px;
    height: 80px;
    top: 500px;
    left: 600px;
}

.obstacles {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: black;
    top: 0px;
}

#obstacle1 {
    left: 500px;
}

#obstacle2 {
    top: -150px;
    left: 800px;
}
