#airplane {
    height: 100px;
    width: 100px;  
    margin-left: 300px;
    margin-top: 500px;
}

#projectile {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: black;
    position: absolute;
}

#obstacle1, #obstacle2, #obstacle3, #obstacle4{
    position: absolute;
    height: 50px;
    width: 50px;
    background: black;
}

#message {
    margin-left: 40%;
    font-size:xx-large;
}

#score {
    margin-left: 80%;
    font-size: xx-large;
}